.toggle-switch {
  display: flex;
  width: 56px;
  height: 28px;
  border: 2px solid #7e7e7e;
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  position: relative;
}

.toggle-switch__checkbox {
  opacity: 0;
}

.toggle-switch__slider {
  background-color: black;
  width: 28px;
  height: 28px;
  left: 0;
  top: 0;
  position: absolute;
  border-radius: 50%;
  transition: transform 0.3s ease-in-out;
}

.toggle-switch__text {
  font-size: 14px;
  font-weight: 700;
  line-height: 100%;
  color: #ffffff;
}

.toggle-switch__text_F {
  position: absolute;
  top: 6px;
  right: 39px;
  color: #ffffff;
}

.toggle-switch__text_C {
  position: absolute;
  top: 6px;
  right: 9px;
  color: #ffffff;
}

.toggle-switch__checkbox:checked ~ .toggle-switch__slider {
  transform: translateX(28px);
}
