.card {
  padding: 16px;
  position: relative;
  list-style: none;
}

.cards__image {
  width: 283px;
  height: 328px;
  top: 279px;
  left: 38px;
  border-radius: 12px;
}

.cards__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
}

.card__title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  background-color: #ffffff;
  color: #00000099;
  padding: 2px 12px;
  border-radius: 8px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
}
