.card {
  padding: 16px;
  position: relative;
  list-style: none;
}

.cards__image {
  width: 283px;
  height: 328px;
  top: 279px;
  left: 38px;
  border-radius: 12px;
}

.cards__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: flex-start;
  padding: 20px;
}

.card__title {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #00000099;
  background-color: #ffffff;
  border-radius: 8px;
  padding: 2px 12px;
}

.card__header {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  display: flex;
  align-items: center;
  gap: 5px;
}

.card__like-btn {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.card__like-btn img {
  width: 20px;
  height: 20px;
}
