.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.sidebar__avatar {
  height: 56px;
  width: 56px;
}

.sidebar__username {
  font-size: 16px;
  font-weight: 700;
  margin: 0;
}

.sidebar__profile-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 16px;
  white-space: nowrap;
}

.sidebar__btn-group {
  display: flex;
  flex-direction: column;
  gap: 8px;
  align-items: center;
}

.sidebar__edit-profile_btn {
  white-space: nowrap;
}

.sidebar__logout-btn {
  padding-right: 74px;
}

.sidebar__edit-profile_btn,
.sidebar__logout-btn {
  padding: 8px 0px;
  font-size: 14px;
  font-weight: 600;
  color: black;
  border: none;
  background-color: #f3f3f3;
  cursor: pointer;
}
