.clothes-section__controls {
  display: flex;
}

.clothes-section__cards-list {
  width: 1015px;
  height: 676px;
}

.clothes-section__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.clothes-section__add-btn {
  opacity: 60%;
}
