.clothes-section__controls {
  display: flex;
  background-color: #f3f3f3;
}

.clothes-section__cards-list {
  width: 1015px;
  min-height: 676px;
  background-color: #f3f3f3;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

.clothes-section__title {
  font-weight: 700;
  font-size: 20px;
  line-height: 100%;
}

.clothes-section__add-btn {
  opacity: 60%;
}
